
			* { 
				margin:0; 
				padding:0;
				list-style:none; 
				/* font-family:sans-serif; */ 
				font-family: 'Bitter', serif; 
			} 
			body { 
				background:rgba(010,020,030,0.7); 
			} 
				header { 
					position:relative; 
						margin:20px auto 3px auto; /* margin:auto (centro); margin:top left (superior,izquierda:20px 25px); margin:top right bottom left (superior,derecha,inferior,izquierda: 20px 15px 30px 10px); margin:top right bottom auto; margin:top auto; */ 
					width:1280px; 
					height:96px; 
					background:rgba(63,127,255,0.5); 
					border:2px solid black; 
					padding:1px; 
				} 
					#divLogo a { 
						position:absolute; /* { position:absolute; { top:10px; left:10px; } { top:10px; right:10px; } { button:10px; left:10px; } { button:10px; right:10px; } } */ 
							top:8px; 
							left:8px; 
						width:75px; 
					 	height:79px; 
						background:rgba(63,127,255,0.5); 
						border:1px solid black; 
						border-radius:16px; 	
						font-family: 'Russo One', sans-serif; 
						font-size:60px; 
						text-decoration: none; 
						color: black; 
					} 
					.divGrupoRedes { 
						position:absolute; 
						width:48px; 
					 	height:48px; 
						background:rgba(63,127,255,0.5); 
						border:1px solid black; 
						border-radius:100%; 
						font-family: 'Russo One', sans-serif; 
						font-size:50px; 
					} 
						#divIcono1 { 
							top:24px; 
							right:224px; 
						} 
						#divIcono2 { 
							top:24px; 
							right:128px; 
						} 
						#divIcono3 { 
							top:24px; 
							right:32px; 
						} 
				nav { 
					position:relative; 
						margin:1px auto; 
					width:1280px; 
					height:36px; 
					background:rgba(63,127,255,0.5); 
					border:1px solid black; 
					padding:1px; 
				} 
					.liGrupoBotones { 
						float:left; 
						width:252px; 
						margin:1px 2px; 
						height:32px; 
						background:rgba(31,63,127,0.5); 
						border-radius:005%; 
						text-align:center; 
						line-height:30px; 
						color:white; 
					} 
					a .liGrupoBotones:hover { 
						background:rgba(31,63,127,0.75); 
					} 
					a .liGrupoBotones:active { 
						background:rgba(31,63,127,1); 
					} 
				#divTop { 
					position:relative; 
						margin:10px auto 1px auto; 
					width:1280px; 
					height:80px; 
					background:white; 
					border:1px solid black; 
					padding:1px; 
				} 
					#top ul { 
						width:1080px; 
						height:80; 
						background:blue; 
					} 
					#divTop ul li{ 
						float:left; 
						width:423px; 
						height:80px; 
						background:rgba(110,120,130,0.5); 
						margin-right:3px; 
					} 
						#divTop ul li img { 
							border-radius:005%; 
							height:78px; 
							width:120px; 
							float:left; 
							margin-right:2px; 
						} 
				section { 
					position:relative; 
						margin:5px auto; 
					width:1280px; 
					height:450px; 
					background:white; 
					border:1px solid black; 
					padding:1px; 
				} 
					aside#asideIdIzquierda { 
						position:absolute; 
							top:1px; 
							left:1px; 
						width:200px; 
						height:299px; 
						background:rgba(200,200,200,0.5); 
					} 
						aside#asideIdIzquierda ul li { 
							margin:18px 18px; 
							padding:5px 30px 5px 30px; 
							border:2px outset black; 
							list-style:square; 
							list-style-type:none; 
							list-style-position:inside center; 
							background:rgba(63,127,255,0.25); 
							background-image:url(otros/web.png); 
							background-repeat:no-repeat; 
							background-position:left center; 
							background-size:contain; 
						} 
							aside#asideIdIzquierda ul li a { 
								text-decoration:none; 
							} 
							blockquote[cite] { 
								margin: 5px; 
							} 
					#divMap { 
						position:absolute; 
							top:1px; 
							left:204px; 
						width:874px; 
						height:299px; 
						background:#ffffff; 
						text-align: center; 
					} 
                        #divMap div { 
                            position: relative; 
                            width: 50%;
                        } 
					aside#asideIdDerecha { 
						position:absolute; 
							top:1px; 
							right:1px; 
						width:200px; 
						height:299px; 
						background:rgba(200,200,200,0.5); 
					} 
						aside#asideIdDerecha h3 { 
							width:200px; 
							height:64px; 
							line-height:64px; 
							text-align:center; 							
						} 
						aside#asideIdDerecha form { 
							width:200px; 
						} 
							aside#asideIdDerecha form input { 
								padding:1px; 
								margin:3px 5px; 
								width:185px; 
							} 
							aside#asideIdDerecha form input[type="text"] { 
								background:url(otros/user.png); 
								background-repeat:no-repeat; 
								background-position:right; 
								background-size:contain; 
							}
							aside#asideIdDerecha form input[type="password"] { 
								background:url(otros/password.png); 
								background-repeat:no-repeat; 
								background-position:right; 
								background-size:contain; 
							} 
							aside#asideIdDerecha form input[type="submit"] { 
								width:191px; 
								background:rgba(63,127,255,0.25); 
							} 
				footer { 

					position:relative; 
					margin:10px auto 20px auto; 
					width:1280px; 
					height:32px; 
					background:rgba(63,127,255,0.5); 
					border:1px solid black; 
					padding:1px; 
					text-align:center; 
					line-height:30px; 
				} 
					#divFixedChat { 
						position:fixed; 
						width:250px; 
						height:48px; 
						bottom:1px; 
						right:15px; 
						background:rgba(63,127,255,1); 
						z-index:1; 
						color: white; 
						text-align:center; 
						line-height:48px; 
						font-family:cursive; 
						font-size:20px; 
						border:1px solid black; 
						border-radius:28px 28px 0 0; 
						cursor:pointer; 
					} 
